body {
  font-family: sans-serif;
}
form {
  padding: 1em;
}
.row {
  display: flex;
  align-items: baseline;
  width: 300px;
}
.row input, .row button {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-bottom: 1em;
  padding: 0.25em 0.5em;
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,0.2);
  font-size: 1em;
}
.row input {
  flex: 1;
  min-width: 100px;
  background-color: white;
  color: rgba(0,0,0,.9);
}
.row input:disabled {
  background-color: rgba(0,0,0,.05);
  color: rgba(0,0,0,.9);
}
.row button {
  flex: 1;
  background-color: rgba(0,0,0,.1);
  color: rgba(0,0,0,.9);
}
.row label {
  width: 150px;
  display: inline-block;
  text-align: right;
  margin-right: 1em;
}
#errorMessage {
  padding: 0.5em;
  margin-bottom: 1em;
  background: #fdeeee;
  border-radius: 4px;
  color: #e93840;
  flex: 1;
}
.hidden {
  display: none;
}